* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Nunito", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-size: medium;
  color: #2d3748;
  box-sizing: border-box;
}

body {
  background-color: #e6e7e9;
}
.logo {
  font-family: "Nunito", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-size: 30px;
  font-weight: bolder;
  /* line-height: 60px; */
  padding-left: 80px;
}
nav {
  font-family: "Nunito", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  background-color: #cbd5e0;
  line-height: 60px;
}
nav ul {
  float: right;
  padding-right: 50px;
  font-weight: 650;
}
nav ul li {
  display: inline-block;
  /* margin-top: 15px;
  margin-right: 20px;
  font-size: 20px; */
}
nav ul li a:hover {
  background: #b8c2c8;
  transition: 0.3s;
}

.active {
  /* padding-right: 80px; */
  padding: 7px 15px;
  border-radius: 6px;
  /* font-family: sans-serif; */
  font-weight: 50px;
  font-size: medium;
  text-transform: uppercase;
}
#accounttab {
  background-color: #415563;
  color: white;
}
#accounttab:hover {
  /* background-color: rgb(84, 124, 142); */
  background-color: #788594;
  /* color: black; */
  transition: 0.5s;
}
#acopid a {
  display: block;
  width: 130px;
  background-color: #a0a5ab;
  color: rgb(1, 1, 1);
  padding-left: 40px;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 10px;
}

#acopid {
  position: absolute;
  display: none;
}

#acopid a:hover {
  background-color: #b8c2c8;
  box-shadow: 2px 2px black;
}

.acop:hover #acopid {
  display: block;
}

.box button {
  margin-top: 200px;
  border-radius: 35px;
  background-color: #4a5568;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 20px;
  border-color: #cbd5e0;
}
#box1 {
  margin-left: 450px;
}
#box2 {
  margin-left: 100px;
}
.box a {
  color: white;
  font-weight: bolder;
}
.box a:hover {
  color: white;
}
.box button:hover {
  cursor: pointer;
  background-color: #788594;
  transition: 0.3s;
}
