<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="\static\indexstyle.css" />
    <link rel="stylesheet" href="\static\dashboardstyle.css" />
  </head>
  <body>
    {% include("nav.html") %}
    <div
      style="
        background-color: aqua;
        height: 100%;
        padding: 10px;
        /* margin-block: 20px; */
        display: flex;
      "
    >
      {% include("dashboardSideMenu.html") %}
      <div
        class="main"
        style="
          background-color: burlywood;
          height: 100%;
          width: 100%;
          padding: 15px;
          /* margin-block: 20px; */
          /* justify-items: center; */
        "
      >
        <div class="create-form-menus" style="padding: 10px">
          <button>Add Questions</button>
          <button>Add Image</button>
          <button>Add Video</button>
          <button>Add Text</button>
        </div>
        <div></div>
      </div>
    </div>
  </body>
</html>
