<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="\static\indexstyle.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    {% include("nav.html") %}
    <h1>{{ session["username"]}}</h1>
    <div class="box">
      <button id="box1"><a href="/dashboard/createform">CREATE FORM</a></button>
      <button id="box2"><a href="/dashboard/fillform">FILL FORM</a></button>
    </div>
    <footer class="footer">
      Copyright  2024 All Rights Reserved.  
    </footer>
  </body>
</html>
