<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/loginsubmission" method="post">
      Username :&nbsp;<input type="text" name="username" required /><br /><br />
      Password :&nbsp;<input
        type="password"
        name="password"
        required
      /><br /><br />
      <button>Login</button>
      <br />
      <br />
      <a href="/signup">Don't have account</a>
    </form>
  </body>
</html>
