<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FormPortal</title>
    <link rel="stylesheet" href="\static\signup.css">
  </head>
  <body>
    <section>
    <form action="/signupsubmission" method="post">
      Enter your Name <br><br>&nbsp;<input type="text"
        name="name"
        required style="background-color: #CBD5E0;" 
      /><br /><br />
      Email <br> <br>&nbsp;<input type="email"
      name="email"
      required style="background-color: #CBD5E0;"><br><br>
      Username <br><br>&nbsp;<input type="text" 
      name="username" 
      required style="background-color: #CBD5E0;"/><br /><br />
      Password <br><br> &nbsp;<input
        type="password"
        name="password"
        required style="background-color: #CBD5E0;"
      /><br /><br />
      Confirm Password <br><br> &nbsp;<input
        type="password"
        name="confirmpassword"
        required style="background-color: #CBD5E0;"
      /><br /><br />
      <button id="sub">Sign Up</button>
      <br />
      <br />
      <a href="/login" id="sub1">Already have account </a>
    </form>
  </section>
  </body>
</html>
